<app-header title="Staff List"></app-header>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>staff-list</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">staff-list</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
  <ion-button style="display: block; width: 100%;" (click)="goInfoPage(0)">Add</ion-button>
  <ion-list>
    <ion-item *ngFor="let item of staffList; let i = index;"
              class="animate__animated animate__fadeIn"
              (click)="goInfoPage(item.Id_Staff)"
    >
      <ion-label>{{item | json}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
